body{
    background-color: #f0fffc;
}

header{
    text-align: center;
    font-size: 18px;
    font-family: Apple Chancery, cursive;
    border-bottom-style: solid;
}

.bar{
    padding: 15px;
    border-bottom-style: solid;
    display: flex;
    flex-direction: row;
}

.input_data{
    margin-right: 40px;
}

.canvas{
    margin: 10px;
}